*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
@media (max-width: 770px) {
    html {
        font-size: 60%;
    }
}
@media (min-width: 700px) and (max-width: 1200px) {
    html {
        font-size: 80%;
    }
}

body {
    font-family: Nunito, 'Trebuchet MS', Arial, sans-serif;
    letter-spacing: 0.0625em;
}

/* General text styles */
h1 {
    margin: 0;
}
a {
    padding: 0;
    background-color: none;
    text-decoration: none;
    color: black;
    border: none;
}

a:hover {
    color: white;
    background-color: plum;
}

a:active {
    color: purple;
}

ul {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

/* Columns */
.column30 {
    width: 30%;
    padding-right: 2rem;
}

@media (max-width: 770px) {
    .column30 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.column60 {
    width: 90%;
}

@media (min-width: 845px) {
    .column60 {
        width: 60%;
    }
}

.column70 {
    width: 70%;
}
@media (max-width: 770px) {
    .column70 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.column-issues {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-inline-start: 1rem;
}

@media (min-width: 771px) {
    .column-issues-narrow {
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
        padding-inline-start: 1rem;
        padding-bottom: 1rem;
    }
}

/* Row */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 750px) {
    .row {
        display: block;
        width: 100%;
    }
}
/* Header */

.navbar {
    display: flex;
    width: 100%;
    height: 4rem;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
}

.navbar-description {
    margin-left: 0.6rem;
    display: none;
    align-self: center;
}
@media (min-width: 943px) {
    .navbar-description {
        display: block;
    }
}

/* Mobile Navigation */
.accordion {
    width: 50%;
    border: none;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    padding: 1rem;
    background-color: coral;
}

#mobile {
    cursor: pointer;
}
.navbar-menu-box {
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    align-self: baseline;
    text-align: center;
    background-color: coral;
}

@media (min-width: 942px) {
    .navbar-menu-box {
        display: none;
    }
}

.menu-box-list[data-state="closed"] {
    max-height: 0px;
    overflow: hidden;
}

.menu-box-list[data-state="open"] {
    max-height: 450px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    text-align: center;
}

.menu-item {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid papayawhip;
    padding: 2rem 3rem;
    font-size: 1.5rem;
}
.menu-item :last-child {
    border-bottom: none;
}

.langs-menu {
    display: flex;
    color: purple;
    background-color: plum;
}

.navbar-options,
.navbar-list {
    display: none;
    list-style-type: none;
}
@media (min-width: 942px) {
    .navbar-options,
    .navbar-list {
        display: flex;
        align-items: center;
    }
}

.nav-text {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 700px) {
    .nav-text {
        display: none;
    }
}

.nav-uppercase {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.3;
}
.navbar-list-item {
    font-size: 1.3rem;
    padding-right: 1.3rem;
}

.navbar-list-item::after {
    content: "/";
    padding-left: 0.9rem;
    color: purple;
}

.navbar-list-item-lang {
    display: block;
    font-size: 1.2rem;
    line-height: 1.7;
    text-transform: uppercase;
    font-weight: 600;
}

.langs-switcher {
    list-style: none;
    padding-left: 1rem;
    width: 9.5rem;
    cursor: pointer;
}

#active {
    color: purple;
    background-color: plum;
    padding-left: 1rem;
    margin-left: -1.5rem;
}
#active::after {
    content: "\f0d7";
    font-family: "fontawesome";
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

#active:hover {
    color: white;
}

.langs-switcher-options[data-state="closed"] {
    display: none;
}
.langs-switcher-options[data-state="open"] {
    display: block;
    position: absolute;
    width: 10rem;
    margin-left: -1.5rem;
    padding-left: 1rem;
    background-color: coral;
}

/* Main */

.main-title {
    font-size: 5.7rem;
    line-height: 1;
    margin-bottom: 3.1rem;
    text-align: center;
}
@media (max-width: 500px) {
    .main-title {
        font-size: 3rem;
        margin-bottom: 0;
    }
}

.appt-intl {
    display: none;
}
@media (max-width: 760px) {
    .appt-intl {
        display: block;
        text-align: center;
        margin: 3rem auto;
        border: 1px solid coral;
        border-radius: 12.5px;
        padding: 1.5rem 1rem;
        max-width: 50%;
        font-size: 1.7rem;
        background: linear-gradient(126.6deg, coral, white);
        background-color: white;
        box-shadow: 0 1px 0 #db4a0d7d, 0 4px 6px #db4a0d7a;
    }
}

@media (max-width: 760px) {
    .appt-intl :hover {
        color: purple;
    }
}

.portrait {
    width: 140px;
    height: auto;
    margin: 1rem auto;
}

.portrait-fullscreen {
    display: none;
}

@media (min-width: 770px) {
    .portrait-fullscreen {
        display: block;
    }
}

.portrait-mobile {
    display: block;
    padding-top: 2rem;
}

@media (min-width: 770px) {
    .portrait-mobile {
        display: none;
    }
}

.smaller-text {
    padding-right: 2rem;
    font-weight: 300;
}

.text-left {
    font-size: 3rem;
    /*   color: coral; */
}

h2 {
    margin-block-end: 0;
}
h3 {
    margin-top: 1rem;
    margin-block-end: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

p {
    margin-top: 0.4rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Header*/

.contact {
    background: linear-gradient(to bottom, #f7f7f7 0, rgba(212, 192, 192, 0.5) 75%, coral 100%);
    padding-bottom: 3px;
}

/*How it works*/
.issues-list,
.education-list {
    font-size: 1.6rem;
    line-height: 1.7;
}
issues-list {
    margin-left: 5rem;
}
@media (min-width: 780px) {
    .issues-list {
        margin-left: 0;
    }
}

.individual-counselling,
.issues,
.education {
    background-color: rgb(238, 236, 236);
    padding-bottom: 2rem;
}

.individual-counselling-text {
    padding-top: 2rem;
}
.education {
    padding-top: 2rem;
}

.wide {
    width: 90%;
    margin: 0 auto;
}
@media (min-width: 750px) {
    .wide {
        width: 100%;
    }
}

/* Contact */
.contact-card {
    text-align: center;
    width: 280px;
    height: auto;
    flex-grow: 0.3;
    flex-shrink: 0;
    margin: 3rem auto;
    padding: 2rem 1rem 1rem 1rem;
    font-size: 1.7rem;
    background-color: white;
    box-shadow: 0 1px 0 #db4a0d7d, 0 4px 6px #db4a0d7a;
}

.contact-card-email::before {
    content: "\f2b7";
    font-family: "fontawesome";
    padding-right: 0.5rem;
}

.contact-card-phone::before {
    content: "\f095";
    font-family: "fontawesome";
    padding-right: 0.5rem;
}

.text-white {
    color: white;
    background-image: url("photo-1470115636492-6d2b56f9146d.jpeg");
    background-size: cover;
    padding-top: 4.2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.fa {
    padding-right: 0.5rem;
    line-height: 1.3;
    color: black;
}

.premises{
    color: purple;
    text-decoration: underline;
}

.uppercase {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8;
    text-transform: uppercase;
    font-weight: 300;
}
.uppercase::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-top: 0.6rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid coral;
}
@media (max-width: 500px) {
    uppercase {
        font-size: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .uppercase::after {
        font-size: 70%;
    }
}

.footer-text {
    text-align: center;
    margin-top: -0.5rem;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: coral;
    color: white;
    font-size: 0.9rem;
}

#langs {
    color: purple;
    background-color: plum;
}

/* Utilities */
.top {
    padding-top: 5rem;
}

.top-fullscreen {
    padding-top: 0;
}
@media (min-width: 770px) {
    .top-fullscreen {
        padding-top: 5rem;
    }
}

.cnt {
    text-align: center;
}

.btm {
    margin-bottom: 3rem;
}
.btm2 {
    margin-bottom: 0.5rem;
}
.light {
    font-weight: 300;
}

.bold {
    font-weight: 800;
}
.highlight {
    background-color: #ffe8de;
}

.margin-standard-top {
    margin-top: 2.5rem;
}
.hover-dark:hover {
    color: purple;
}

