*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
/* @media (max-width: 770px) {
    html {
        font-size: 60%;
    }
}
@media (min-width: 700px) and (max-width: 1200px) {
    html {
        font-size: 80%;
    }
} */

body {
    font-family: Nunito, "Trebuchet MS", Arial, sans-serif;
    color: hsl(0, 0%, 0%);
    letter-spacing: 0.0625em;
}

.container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width: 770px){
    .column{
        width: 70%;
    }
}

.column50 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width: 770px){
    .column50{
        width: 50%;
    }
}
/* General text styles */
h1 {
    margin: 0;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 2rem;
}

h3 {
    margin-top: 1rem;
    margin-block-start: 0px;
    margin-block-end: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

p {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

a {
    padding: 0;
    background-color: none;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    border: none;
}
a:hover {
    color: hsl(0, 0%, 100%);
}

a:active {
    color: hsl(0, 0%, 100%);
}

ul {
    margin: 0;
    padding: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    list-style: none;;
}

/* Row */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 750px) {
    .row {
        display: block;
        width: 100%;
    }
}
/* Header */

.navbar {
    display: flex;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(16, 100%, 66%);
}

.navbar-description {
    padding-left: 0.6rem;
    display: none;
    align-self: center;
}
@media (min-width: 940px) {
    .navbar-description {
        display: block;
    }
}

/* Mobile Navigation */
.accordion {
    width: 50%;
    margin-top: 0.3rem;
    border: none;
    outline: none;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 3px;
    padding: 1rem;
    font-weight: bold;
    background-color: hsl(16, 100%, 66%);
}

#mobile {
    cursor: pointer;
}
.navbar-menu-box {
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    align-self: baseline;
    text-align: center;
    background-color: hsl(16, 100%, 66%);
}

@media (min-width: 940px) {
    .navbar-menu-box {
        display: none;
    }
}

.menu-box-list[data-state="closed"] {
    max-height: 0px;
    overflow: hidden;
}

.menu-box-list[data-state="open"] {
    max-height: 450px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    text-align: center;
}

.menu-item {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid papayawhip;
    padding: 2rem;
}

.menu-item :last-child {
    border-bottom: none;
}

.langs-menu {
    display: flex;
    background-color: hsl(13, 70%, 48%);
}
.langs-menu.menu-item {
    color: hsl(0, 0%, 100%)
}

.navbar-list {
    margin-right: 0.5rem;
}

.navbar-options,
.navbar-list {
    display: none;
    list-style-type: none;
}

@media (min-width: 940px) {
    .navbar-options,
    .navbar-list {
        display: flex;
        align-items: center;
    }
}

.nav-text {
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 700px) {
    .nav-text {
        display: none;
    }
}

.nav-uppercase {
    margin: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.3;
}
.navbar-list-item {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
}

/* .navbar-list-item::after {
    content: "|";
    padding-left: 0.9rem;
    font-weight: 300;
    color: papayawhip;
} */

.navbar-list-item-lang {
    display: block;
    font-size: 1.2rem;
    line-height: 1.7;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 1rem;
    background-color: hsl(16, 81%, 54%);
}
a.navbar-list-item-lang:hover {
    background-color: hsl(13, 70%, 48%);
}

a.navbar-list-item-lang:active {
    color: hsl(18, 100%, 94%)
}

.langs-switcher {
    list-style: none;
    padding-left: 1rem;
    width: 9.5rem;
    cursor: pointer;
}

#active {
    height: 4rem;
    color: hsl(0, 0%, 100%);
    margin-left: -1.5rem;
    border-left: 1px solid papayawhip;
    padding-top: 0.6rem;
    padding-left: 0.5rem;
}
#active::after {
    content: "\f0d7";
    font-family: "fontawesome";
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

#active:hover {
    color: white;
}

.langs-switcher-options[data-state="closed"] {
    display: none;
}
.langs-switcher-options[data-state="open"] {
    display: block;
    position: absolute;
    width: 10rem;
    margin-left: -1.5rem;
    background-color: hsl(0, 0%, 80%);
}

/* Main */

.intro {
    margin-top: 3rem;
}
.main-title {
    font-size: 4.5rem;
    line-height: 1.2;
}
@media (max-width: 500px) {
    .main-title {
        font-size: 3rem;
        margin-bottom: 0;
    }
}

.appt-intl {
    display: block;
    margin: 3rem auto;
    text-align: center;
    border-radius: 12.5px;
    padding: 1.5rem 1rem;
    max-width: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    background-color:hsl(16, 100%, 66%);
    box-shadow: 0 1px 0 #db4a0d7d, 0 4px 6px #db4a0d7a;
}
@media (min-width: 760px) {
    .appt-intl {
        display: none;
    }
}


a.appt-intl:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(16, 81%, 54%);
}
a.appt-intl:active {
    color: hsl(18, 100%, 94%);
}


.education {
    line-height: 1.5;
}
/* Contact */
.contact {
    background: linear-gradient(to bottom, hsl(0, 0%, 99%) 0, hsl(13, 72%, 83%) 75%, hsl(16, 100%, 66%) 100%);
    padding-bottom: 3px;
}

.contact-card {
    text-align: center;
    width: 33%;
    min-width: 280px;
    height: 220px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 3rem auto;
    padding: 2rem 1rem 1rem 1rem;
    font-size: 1.7rem;
    background-color: hsl(0, 0%, 100%);;
    box-shadow: 0 1px 0 #db4a0d7d, 0 4px 6px #db4a0d7a;
}

.contact-card-email::before {
    content: "\f2b7";
    font-family: "fontawesome";
    padding-right: 0.5rem;
}

.contact-card-phone::before {
    content: "\f095";
    font-family: "fontawesome";
    padding-right: 0.5rem;
}

.premises {
    color: hsl(13, 70%, 48%);
    text-decoration: underline;
}
a.premises:hover {
    color: hsl(0, 0%, 70%);
}

a.premises:active {
    color: hsl(0, 0%, 0%);
}
.uppercase {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8;
    text-transform: uppercase;
    font-weight: 300;
}
.uppercase::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-top: 0.6rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid hsl(16, 100%, 66%);
}

.footer-text {
    text-align: center;
    margin-top: -0.5rem;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: hsl(16, 100%, 66%);
    color: hsl(0, 0%, 100%);
    font-size: 0.9rem;
}

/* Utilities */
.mt-3 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-3halves {
    margin-bottom: 1.5rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pb-3 {
    padding-bottom: 3rem;
}
.pt-3 {
    padding-top: 3rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pt-2 {
    padding-top: 2rem;;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 800;
}
.highlight {
    background-color: hsl(18, 100%, 94%);
}

.hover-dark:hover {
    color: hsl(13, 70%, 48%);
    font-weight: 700;
}


.lead {
    font-size: 1.8rem;
    line-height: 1.8;
    font-weight: 300;
}

.list-group-item {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.h3 {
    margin-top: 1rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}
.card-about {
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(0, 0%, 80%);
    margin-bottom: 2rem;
    padding: 1rem;
}
@media (min-width: 600px){
    .card-about {
        flex-direction: row;
    }
}

.card-body {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    align-self: center;
}
 .card-text {
    font-size: 0.8rem;
}

.card-img {
    width: 160px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    object-fit: contain;
}
@media (min-width: 600px){
    .card-img {
        padding: 0rem;
    }
}

.border-top {
    border-top: 1px solid hsl(0, 0%, 80%);
}
.border-bottom {
    border-bottom: 1px solid hsl(0, 0%, 80%);
}